.man{
    display: flex;
    background-color: burlywood;
    justify-content: space-around;
    padding-top: 10px;
}

img{
    width: 370px ;
    height: 300px;
}

@media all and (max-width:500px){
    .man{
        flex-direction: column;
        padding: 50px;
    }
}
.man_pic{
    transition: all .8s;
}
.man_pic:hover{
   margin-top: 10px;
}
.content{
    display: flex;
    margin-top: 50px;
}
.blockone{
    width: 800px;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
    left:0;
    animation-name: one;
    animation-duration: 5s;

}
.onepic{
    width: 100%;
    height: 270px;
}
.blocktwo{
    width: 800px;
    height: 300px;
    background-color: blanchedalmond;
    position: relative;
    right: 0;
    animation-name: two;
    animation-duration: 5s;
}
@keyframes one{
    0%{
        left: -100%;
    }
    100%{
        left: 0;
    }
}

@keyframes two{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
    }
}


.animflex{
    display: flex;
}

.wrapper{
    outline: 1px solid darkcyan;
    width: 350px;
    margin: 100px auto 0;
    position: relative;
    border: solid 5px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    
}
img{
    width: 100%;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 50px;
    opacity: 0;
    font-size: 20px;
    text-align: center;

}

.a_1{
    display: block;
    color: white;
    text-decoration: none;
}
.a_1::before{
    content: ' ';
    position: absolute;
    width: 900px;
    height: 200%;
    right: 0;
    bottom: -100%;
    background: rgba(241, 119, 119, 0.5);
    transform: skew(-45deg) translateX(100%);
    transition: 2s;
}

.wrapper:hover .a_1::before{
    transform: skew(-45deg) translateX(0%);
}

.text:hover{
    opacity: 1;
}




.foot{
    background-color: black;
    color: white;
    width: 100%;
   
 
   padding-top: 20px;
    padding-left: 300px;
    display: flex;
  }
  .instagram{
    margin-left: 50px;
    background-color: aqua;
    height: 100px;
  }

  .instapic{
    width: 100px;
    height: 100px;
  }